<ion-header>
  <ion-toolbar>
    <ion-title>Crear Nueva Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Imagen o gráfico opcional -->
  <ion-img src="/assets/images/create-company-intro.png" alt="Introducción" class="intro-image"></ion-img>
  
  <!-- Descripción Breve -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí podrás crear una nueva empresa. Completa los pasos para configurar todos los detalles de tu empresa y comenzar a usar la aplicación.
    </ion-card-content>
  </ion-card>

  <!-- Botón para Empezar -->
  <ion-button expand="full" (click)="navigateToCreateCompany()">Comenzar</ion-button>
</ion-content>

