<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Business List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let business of business">
      <ion-label>{{ business.name }}</ion-label>
      <!-- Enlace corregido para redirigir a la página de detalles -->
      <ion-button [routerLink]="['/aio/business/detail', business.id]">Edit</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

  <!-- Botón flotante para crear un nuevo negocio -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/aio/business/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
